header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float: left;
    width: 100%;
}
